* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container-ingredients {
  align-items: center;
  background: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.35px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 335px;
}

.height-ingredient {
  height: 133px;
}

.height-instructions {
  height: 414px;
}

.subtitle-details {
  font-size: 20px;
}

.recipe-photo {
  height: 200px;
  width: 100%;
}

.recipe-photo img {
  height: 100%;
  width: 100%;
}

.btn-start-recipe {
  background: #fcc436;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 336px;
}

.container-detail-page {
  padding-bottom: 100px;
}
